*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: beige;
    height: 820px;
    margin-top: 2rem;
    padding: 0;
}
.alt{
    height: 820px;
}
.nav{
    height: 70px;
    background-color: rgb(234, 234, 234);
}
.round{
    height: 47px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
}
.father-container{
    height: 50px;
    background-color:rgb(234, 234, 234);
    padding: 5px;
}

.font{
    font-size: 14px;
}
.bg{
    background-color: rgb(204, 204, 255);
}
.color{
    color: rgb(204, 204, 255);;
}
.img-setting{
    border-radius: 50%;
    width: 50px;
}
.list-dec{
    list-style: none;
}
.list-dec:hover{
    background-color: lightgray;
    cursor: pointer;
}
.ps{
    padding-left: 12px;
}
.padd{
    padding-left: 119px;
}
.scroll{
    overflow-y: scroll;
}
.background-message{
    background-image: url(../img/mine.jpg);
    height: calc( 100% - 140px);
}
.bar{
    width: 65%;
    height: 40px;
    background-color: white;
}
.bg-icon{
    color: rgb(148, 148, 148);
}
.bar-in{
    width: 100%;
}
.messagio{
    width: 300px;
    background-color: white;
    border-radius: 6px;
    margin-top: -1px;
    padding: 0 5px;
}
.sent{
    position: relative;
    left: 294px;
}
.font2{
    font-size: 10px;
}
.bgActive{
    background-color: rgb(201, 201, 201);
}